body {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [header] 50vh [navbar] auto [services] auto [examples] auto [footer] auto;
    grid-gap: 5px;
}

.header {
    background-color: green;
    background-image: url(img/1920x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 3px;
}

.header_greeting {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: calc(100vh/7);

}

h2 {
    font-size: calc(100vh/25);
}

h3 {
    font-size: calc(100vh/35);
}

h1,
h2,
h3,
h4,
.navbar_listItems {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.navbar_listItems {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.listItem {
    list-style: none;
    cursor: pointer;
    flex-basis: 15%;
    text-transform: uppercase;
    background-color: rgba(107, 101, 126, 0.6);
    padding: 2px;
    border-radius: 4px;
    font-size: calc(100vh/45);


}

.listItem:nth-last-child(1) {
    margin-left: 20%;
}


.services::after {
    content: '';
    clear: both;
    display: block;
}

.servicesImage {
    float: left;
    width: 50%;
    margin: 10px;
    border-radius: 50%;
    margin: 5vh;
    transition: 0.1s all linear;
}

.servicesImage:hover {
    border-radius: 10%;
}

.servicesText {
    padding: 10px;
}

.examples {
    display: grid;
    grid-template: auto 7fr / 1fr 1fr 1fr;
    grid-gap: 2vw;
    text-align: center;
}

.examplesContainer {
    background-color: rgba(128, 128, 128, 0.075);
    border-radius: 10% 0 10% 2%;
}

.examplesText {
    opacity: 0.3;
    transition: 0.3s all linear;
}

.examplesText:hover {
    opacity: 1;
}

.examplesTitleMain {
    grid-row: 1;
    grid-column: 1/4;
}


.info {
    background-image: url(img/450sa.jpg);
    background-size: contain;

}

.infoCover {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.infoContainer {
    flex-basis: 20%;
    text-align: center;
    padding: 5px;
    text-align: right;

}

.infoContainer>h4 {
    background-color: rgba(107, 101, 126, 0.3);
    width: 50%;
    margin-left: auto;

}



.footer {
    background-color: rgba(107, 101, 126, 0.3);
    min-height: 5vh;
    margin-top: 5vh;
    display: flex;
}

.footerLink {
    color: whitesmoke;
    flex-basis: 20%;
    line-height: 5vh;
    text-decoration: none;
}

.footerText {
    text-align: center;
}

@media (max-width:736px) {
    .info {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width:1200px) and (orientation:portrait) {
    .info {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (orientation:landscape) and (min-width:736px) {
    .wrapper {
        display: grid;
        grid-template-columns: [main] 8fr [aside] 2fr;
    }

    .header {
        grid-column: main/3;
        grid-row: header;
    }

    .navbar {
        grid-column: main/3;
        grid-row: navbar;
    }

    .examples {
        grid-column: main;
        grid-row: examples
    }

    .services {
        grid-column: main;
        grid-row: services;
    }

    .info {
        grid-column: aside;
        grid-row: services/footer;
    }


    .footer {
        grid-column: main/3;
        grid-row: footer
    }


}

@media (max-width:1440px) {
    .wrapper {
        max-width: 80%;
    }

    .header {
        background-image: url(img/1280x.jpg);
    }
}

@media (max-width:1280px) {
    .wrapper {
        max-width: 90%;
    }

    .header {
        background-image: url(img/640x.jpg);
    }
}