body {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [header] 4fr [navbar] 0.1fr [services] 7fr [examples] 7fr [footer] 1fr;
    grid-gap: 5px;
}

.header {
    background-color: green;
    background-image: url(img/1920x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 3px;
}

.header_greeting {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
h4,
.navbar_listItems {
    font-family: 'Oswald', sans-serif;
}

.navbar_listItems {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.listItem {
    list-style: none;
    cursor: pointer;
    flex-basis: 15%;
    text-transform: uppercase;
    background-color: rgba(107, 101, 126, 0.582);
    padding: 2px;
    border-radius: 4px;

}

.listItem:nth-last-child(1) {
    margin-left: 20%;
}

.services {}

.services::after {
    content: '';
    clear: both;
    display: block;
}

.servicesImage {
    float: left;
    width: 50%;
    margin: 10px;
}

.servicesText {
    padding: 10px;
}

.examples {
    background-color: rgba(255, 255, 0, 0.5);
}

.info {
    background-color: rgba(0, 139, 139, 0.5);
}

.footer {
    background-color: rgba(255, 192, 203, 0.5);
}

@media (orientation:landscape) and (min-width:640px) {
    .wrapper {
        display: grid;
        grid-template-columns: [main] 8fr [aside] 2fr;
    }

    .header {
        grid-column: main/3;
        grid-row: header;
    }

    .navbar {
        grid-column: main/3;
        grid-row: navbar;
    }

    .examples {
        grid-column: main;
        grid-row: examples
    }

    .services {
        grid-column: main;
        grid-row: services;
    }

    .info {
        grid-column: aside;
        grid-row: services/footer;
    }

    .footer {
        grid-column: main/3;
        grid-row: footer
    }


}

@media (max-width:1440px) {
    .wrapper {
        max-width: 80%;
    }

    .header {
        background-image: url(img/1280x.jpg);
    }
}

@media (max-width:1280px) {
    .wrapper {
        max-width: 90%;
    }

    .header {
        background-image: url(img/640x.jpg);
    }
}